<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>HearHereVer2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D726AE261D40B66F0018F147</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D726AE3A1D40B66F0018F147</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D726AE451D40B66F0018F147</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
